<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=title %>
        </title>
        <script src="https://kit.fontawesome.com/8cc2e4ab6f.js" crossorigin="anonymous"></script>
        <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
    <header>
      <div>
      <h1 id="heading">
          <i class="far fa-edit"></i>
          Add Your Blogs
      </h1>
    </div>
    </header>
        <body>
           <div>
             <ul>
                <% let j=0;%>
                 <% for(let i of blog_list) { %>
                      <%j++;%>
                     <li class="list1">
                         <%  if(j%2==0){ %>
                         <div class="main left">
                             <!-- blog -->
                             <div class="head">
                             <h2 class="heading3">Blog
                                 <%=j%>
                             </h2>
                            </div>
                        <%}
                        else { %>
                            <div class="main right">
                                <!-- blog -->
                                <div class="head">
                                <h2 class="heading3">Blog
                                    <%=j%>
                                </h2>
                               </div>
                               <%}%>
                            <div class="title">
                                    <%=i.title%>
                            </div>
                             <div class="blog">
                                 <%=i.blog%>
                             </div>
                             <!-- like -->
                             <div class="like">
                                <i class="fab fa-gratipay"></i>
                             </div>
                             <div class="author">
                                 <%=i.author%>
                             </div>
                             <div class="delete">
                                 <a href="/delete-blog/?id=<%= i._id %>">
                                <i class="fas fa-trash del"></i>
                            </a>
                             </div>
                         </div>
                     </li>

                <% } %>
             </ul>
           </div>
           <div class="for">
               <form action="/create-blog" method="POST">
                <h2 id="heading2">Write Here</h2>
                   <textarea  class="write" type="text" name="blog" rows="10" cols="50" required>
                   </textarea>
                   <br>
                   <div class="text">
                     <h2> Title </h2>
                     <textarea name="title" rows="5" cols="50"></textarea>
                   </div>
                   <div class="feed">
                     <h2> Author </h2>
                      <br>
                     <textarea name="author" rows="5" cols="50">
                     </textarea>
                   </div>
                   <br>
                   <button type="submit">Add</button>
               </form>
           </div>
        </body>

        <footer>
          <i class="far fa-copyright"></i>
        </footer>
</html>
